body, html {
    font-family: sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5;
}

#O365_SearchBoxContainer{
    display: none !important;
}

#O365_NavHeader, .o365sx-button{
    background-color: #27292D !important;
    color: #FFFFFF !important;
}

/* Barra de comentários em páginas modernas (Social Media Tools) */
[data-sp-feature-tag='Comments']{
    display: none;
}

.ms-searchux-searchbox{
    display: none;
}

.hiddenTopPlaceHolder{
    display: none !important;
}

.topPlaceHolder-h100{
    height: 100%;
    background-color: #383a40;
}

.hiddenCommandBar{
    display: none !important;
}

._71hjFgizWk0Cd55RzerwA{
    text-align: center;
    color: #fff;
    font-size: 16px;
}

/* Classes React*/
.ms-SPLegacyFabricBlock .ms-Grid-row {
    margin: 0 !important;
}

/* Landing Page */
#overlay {
    width: 100%;
    height: 100%;
    line-height: 1;
    position: fixed;
    display: block;    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/sites/bienterprise/SiteAssets/images/capa.jpg") no-repeat;
    background-size: cover;
    z-index: 5;
}

#overlay h1{
    font-size: 3.5rem;
}

#overlay p{
    font-size: 1.65rem;
}

#overlay .landingPage-content{
    padding: 33.3% 5%;
    color: #FFFFFF;
}

.logoLandingPage{
    width: 273px;
    height: 51px;
    background: url("/sites/bienterprise/SiteAssets/images/LogoLandingPage.png") no-repeat;
    margin-bottom: 30px;
    display: inline-block;
}

/* FINAL */

/* Main */

.header{
    margin-left: 130px;
}

.logoHeader{
    width: 136px;
    height: 22px;
    background: url("/sites/bienterprise/SiteAssets/images/Logo_CBMM-03.png") no-repeat;    
    display: inline-block;
}

#webTitle{
    display: inline-block;
    padding-left: 15px;
    font-size: 1.5625em;
    border-left: solid 2px white;
}

[data-sp-feature-tag="Site header host"] {
    border-bottom: none !important;
}

.w3-container, .w3-panel {
    padding: 0.01em 120px !important;
}

/* FINAL */

.left-nav-toggle{
    width: 30px;
    height: 25px;
    padding-left: 25px;
    display: inline-flex;
    float: left;
}

.toggle-label{
    padding-left: 25px;
    padding-top: 5px;
    color: #707070;
}

.menu {
    width: 25px;
    height: 25px;
}

.hamburguer {
    position: relative;
    display: block;
    background: #707070;
    width: 30px;
    height: 2px;
    top: 15px;
    left: 0;
    transition: .5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: #707070;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

.pageDescription{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
    color: #868686;
}

.pageDescription h1{
    font-size: 2em;
    color: #d8d8d8;
    font-weight: 400;
}

.tileBox{
    width: 100%;
    height: 182px;
    color: #fff;
    margin-bottom: 20px;
    font-size: 0.875rem;
    background-size: cover;
    border-radius: 6px;
    overflow: hidden;
}

.tileBoxOverlay{
    width: 100%;
    height: 100%;
    /* background-color: #030303c2; */
}

.tileBoxToolBar{
    height: 62px;
    width: 100%;
    text-align: right;
    margin-top: 20px;    
    padding-top: 15px;
    background-color: #2e2e2eba;
}

.tileBox .ms-Icon {
    color: #6F848B;
}

.reportCategoryDescription{
    font-size: 1.43rem;
    padding-top: 15px;
}

.reportCategoryIcon{
    width: 62px;
    height: 56px;
    margin-top: 20px;
    margin-left: 5px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.downloadModal{
    width: 100%;
    height: 100%;
    background-color: #ADADAD;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 6;
}

.downloadCenterBox{
    width: 519px;
    height: 371px;
    margin: 10px;
    padding: 5px;
    background: #FCFCFC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadCenterBox-content{
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(/sites/bienterprise/SiteAssets/images/icons/downloadCheck.png) no-repeat center 50px;
    margin: 10px;
    padding: 5px;
}

.downloadCenterBox-content h1{
    font-size: 1.5rem;
    color: #707070;
    margin-top: 170px;
}

.downloadCenterBox-content a{
    color: #707070;
}

.reportCategoryInfo, .downloadInfo{
    text-align: right;
    float: right;
    margin: 16px 10px 0 0;
}

.downloadInfo{
    margin: 22px 10px 33px 0;
}

.iconType{
    background: url(/sites/bienterprise/SiteAssets/images/icons/dashboard.png) left center no-repeat;
}

.downloadIconType{
    background: url(/sites/bienterprise/SiteAssets/images/icons/file.png) left center no-repeat;
}

.iconType span, .downloadIconType span{
    margin-left: 34px !important;
}

.favoriteIcon{
    width: 27px;
    height: 26px;
    margin-bottom: 8px;
    background: url(/sites/bienterprise/SiteAssets/images/icons/favStarOutline.png) left center no-repeat;
    display: inline-flex;
}

.reportCategoryType span, .downloadType{
    margin-left: 10px;
}

.btnDetalhes, .btnDashboard, .btnLogin{
    margin-right: 15px;
    background-color: transparent;
    border: solid 1px #fff;
    border-radius: 3px;  
    cursor: pointer;  
    outline: 0;
}

.btnLogin{
    width: 181px;
    height: 38px;
    font-size: 1rem;
    color: #E4EAEF;
    margin-top: 30px;
    border-radius: 6px;
    background-color: #8AA4AD;    
    cursor: pointer;
    outline: none;
    border: solid 1px #8aa4ad;
}

.btnDashboard{
    background-color: #6F848B;
    border: none;
}

.btnLogin span{
    margin-left: 15px;
}

.btnDetalhes span, .btnDashboard span, .btnAddFavorites span, .btnDashboard-Large span{
    margin-left: 5px;
}

.btnLogin-Icon, .btnDetalhes-Icon, .btnDashboard-Icon, .btnDownload-Icon{
    width: 21px;
    background: url('/sites/bienterprise/SiteAssets/images/icons/info.png') no-repeat center;
    display: inherit;
}

.btnDashboard-Icon{
    background: url('/sites/bienterprise/SiteAssets/images/icons/rightArrow.png') no-repeat center;
}

.btnDownload-Icon{
    width: 24px;
    background: url('/sites/bienterprise/SiteAssets/images/icons/download.png') no-repeat center;
}

.btnLogin-Icon{
    height: 24px;
    background: url('/sites/bienterprise/SiteAssets/images/icons/login.png') no-repeat center;
}

.btnVoltar{
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left:5px;
    text-decoration: none;
}

.tileBoxToolBar a, .btnDashboard{
    width: 120px;
    height: 32px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: .875rem;
    text-decoration: none;
}

.detalhes{
    color: #fff;
}

.detalhes h1{
    font-size: 32px;
}

.detalhes p{
    font-size: 20px;
    font-weight: lighter !important;
}

.detalhes span{
    font-weight: 600;
}

.content, .reportPage{
    padding-bottom: 50px !important;
    color: #fff;
}

.reportPage{
    background-color: #EAEAEA;
    text-align: center;
}

.CanvasZoneContainer.CanvasZoneContainer--read, .mainContent{
    background-color: #EAEAEA !important;
}

.reportContainer{
    width: 1260px;
    height: 736px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.reportDetailRightBox{
    max-width: 256px;
}

.reportDetailImage{
    width: 100%;
    height: 180px;
    font-size: 1.2rem;
    text-align: center;
    background: #2E2E2E url(/sites/bienterprise/SiteAssets/images/bgTitle.png) no-repeat;
    background-size: cover;
    border-radius: 6px;
    overflow: hidden;
}

.reportDetailImage .ms-Grid-row{
    padding-top: 40px !important;
    padding-left: 34px;
}

.reportDetailsToolBar{
    height: 62px;
    width: 100%;
    text-align: center;
    margin-top: 20px;    
    padding-top: 15px;
}

.reportDetailsToolBar a, .btnAddFavorites, .btnDashboard-Large {
    width: 190px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: .875rem;
    text-decoration: none;
}

.btnAddFavorites, .btnDashboard-Large{
    color: #5C6F86;
    background-color: #F6F6F6;
    border: solid 1px #F6F6F6;
    border-radius: 6px;  
    cursor: pointer;  
    outline: 0;
}

.btnDashboard-Large{
    background-color: #6F848B;
    color: #F6F6F6;
    border: none;
}

.btnTranslatePT, .btnTranslateEN, .btnTranslatePT-small, .btnTranslateEN-small{
    width: 42px;
    height: 42px;
    margin-top: 36px;
    background: url(/sites/bienterprise/SiteAssets/images/BR-flag-round.png) center center no-repeat;
    background-size: 100% !important;
    border: none;
    outline: none;
    cursor: pointer;
}

.btnTranslateEN, .btnTranslateEN-small{    
    background: url(/sites/bienterprise/SiteAssets/images/USA-flag-round.png) center center no-repeat;
    margin-left: 16px;
}

.btnTranslatePT-small, .btnTranslateEN-small{
    width: 36px;
    height: 36px;
    margin-top: 0;
}

.btnTranslateContainer-small{
    float: right;
    position: relative;
    top: -42px;
    margin-right: 15px;
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
    .w3-container, .w3-panel {
        padding: .01em 16px !important;
    }

    .logoLandingPage{
        background-size: 60%;
    }

    #overlay h1{
        font-size: 2rem;
    }
    
    #overlay p{
        font-size: 1rem;
    }

    /* Item nativo do menu superior*/
    #O365_TopMenu{
        display: none;
    }

    #webTitle {
        display: none;
    }

    .logoHeader {
        width: 120px;
        height: 22px;
        top: 15px;
        right: 14px;
        position: fixed;
    }
  }